.label {
    font-size: 14px;
    margin-bottom: 4px;
}

.lineBar {
    width: 100%;
    border-radius: 6px;
    height: 10px;
    background-color: #5f9ea047;
    position: relative;
}

.lineProgress {
    position: absolute;
    background-color: #4daca3;
    border-radius: 6px;
    height: 100%;
    transition: width 0.3s linear;
}

.progressInfo {
    display: flex;
    align-items: center;
    position: relative;
}

.progressInfoValueLine {
    composes: progressInfo;
    padding-right: 40px;
}

.progressValue {
    position: absolute;
    right: 0;
}
